.card-title
{
    text-align: center;
}
.card
{
    border: 1px solid black;
}
.card-text
{
    text-align: center;

}
.card-text1
{
    text-align: center;
}
.card-text2
{
    text-align: center;
}
body
{
  background-color:rgb(172, 202, 120);
}
